.breadcrumb {
  margin-top: 21px;
  padding-left: 0;
  margin-bottom: 16px;
  background-color: inherit; }
  .breadcrumb a {
    color: #368FE9; }
  .breadcrumb .active {
    color: #4D4D4D; }

.breadcrumb > li + li:before {
  color: #ccc;
  content: "> ";
  padding: 0 5px; }
