.customer-reviews-section {
  padding: 0 20px 130px 20px;
  margin-top: 35px;
  -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2); }
  .customer-reviews-section .list-inline > li:first-child {
    padding-left: 0; }
  .customer-reviews-section .customer-reviews-item {
    margin-bottom: 20px; }
  .customer-reviews-section .customer-info i {
    color: #368FE9; }
  .customer-reviews-section .customer-info p {
    margin-top: 8px; }
  .customer-reviews-section .reviews-filter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .customer-reviews-section .reviews-filter span {
      color: #B2B2B2; }
    .customer-reviews-section .reviews-filter .clear-filters {
      color: #368FE9; }
  .customer-reviews-section .review-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 25px 0 10px 0; }
  .customer-reviews-section .review-product-type {
    margin: 12px 0 12px 0; }
    .customer-reviews-section .review-product-type span {
      color: #B2B2B2; }
  .customer-reviews-section .review-body {
    margin-left: 15px;
    border: 1px solid #D4D4D4;
    padding: 15px;
    -webkit-border-radius: 4px;
            border-radius: 4px; }
    .customer-reviews-section .review-body p {
      color: #B2B2B2; }
    .customer-reviews-section .review-body h4 {
      color: #4D4D4D; }
  .customer-reviews-section .like-review i {
    color: #368FE9;
    margin-left: 5px; }
  .customer-reviews-section .pagination {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .customer-reviews-section .pagination .pagination a {
      background-color: #EDEDED;
      color: #808080;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      border: 0; }
      .customer-reviews-section .pagination .pagination a:hover, .customer-reviews-section .pagination .pagination a:active {
        background-color: #368FE9;
        color: #fff; }
    .customer-reviews-section .pagination .pagination li {
      margin-right: 10px; }
      .customer-reviews-section .pagination .pagination li:last-child {
        margin-right: 0; }
