.latest-updates-section .user-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px; }

.latest-updates-section .latest-reviews-wrapper {
  border-bottom: 1px solid #D4D4D4;
  padding-bottom: 30px;
  margin-bottom: 30px; }

.latest-updates-section .latest-reviews-list {
  margin-top: 20px; }

.latest-updates-section .latest-review-time .list-inline > li {
  padding: 0; }

.latest-updates-section .latest-review {
  margin-bottom: 30px; }
  .latest-updates-section .latest-review:last-child {
    margin-bottom: 0; }

.latest-updates-section .latest-review-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px; }
  .latest-updates-section .latest-review-header .user-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.latest-updates-section .latest-discussion-wrapper {
  padding-bottom: 30px;
  margin-bottom: 30px; }
  .latest-updates-section .latest-discussion-wrapper .discussion-list {
    margin-top: 20px; }
  .latest-updates-section .latest-discussion-wrapper .latest-discussion-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px; }
    .latest-updates-section .latest-discussion-wrapper .latest-discussion-item:last-child {
      margin-bottom: 0; }
    .latest-updates-section .latest-discussion-wrapper .latest-discussion-item .p-gray-2 {
      margin-top: 10px; }
    .latest-updates-section .latest-discussion-wrapper .latest-discussion-item .dark-2 {
      font-size: 16px; }
    .latest-updates-section .latest-discussion-wrapper .latest-discussion-item .pull-left, .latest-updates-section .latest-discussion-wrapper .latest-discussion-item .pull-right {
      color: #4D4D4D; }
