/*
* Home page info section css rules
 */
.info-section {
  border-bottom: 1px solid #D4D4D4; }
  .info-section .home-page-category {
    padding: 50px 0; }
    .info-section .home-page-category .discover-categories {
      -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
              box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2); }
    .info-section .home-page-category h3 {
      font-size: 20px;
      color: #4D4D4D;
      margin-bottom: 8px; }
    .info-section .home-page-category .discover-categories-header {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .info-section .home-page-category .view-more {
      color: #368FE9; }
    .info-section .home-page-category .discover-categories-items {
      background-color: #fff;
      margin-top: 8px; }
      .info-section .home-page-category .discover-categories-items ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        padding: 24px;
        color: #4D4D4D; }
      .info-section .home-page-category .discover-categories-items img {
        width: 72px;
        height: 72px; }
