@import "variables";

/*
* Article page css ruls
 */
body {
  position: relative;
}
.articles-main{
  background-color: $primary-fff;
  @include section-background;
  margin-top: 10px;
  .articles-chapter{
    margin-bottom: 100px;
    img{
      margin-top: 25px;
      margin-bottom: 35px;
      width: 100%;
    }
  }
}


.chapter-navigation li{
  color: $gray-2;
  margin-bottom:8px;
  &.active {
    border-left:4px solid $primary-blu;
    //border-left-width:5px;
    color: $dark-2;
  }
}
.nav{
  li{
    a{
      padding: 7px 16px;
      font-size: 14px;
    }
    &.active{
      a{
        padding-left: 12px;
      }
    }
  }
}

.articles-bottom-section{
  .related-articles{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    li{
      margin-right: 40px;
      background-color: $primary-fff;
      border-radius: 4px;
      &:last-child{
        margin-right: 0;
      }
    }
    .related-article-text{
      padding: 24px;
      .block-title-2{
        margin-bottom: 18px;
      }
    }
  }
  .articles-bottom-links{
    li{
      margin-bottom: 20px;
      color: $primary-blu;
    }
  }
}