@import "_variables";

.bottom-section {
  padding-bottom: 155px;
  .price-comparison {
    padding: 24px 0 30px 0;
    margin-top: 24px;
    @include section-background;
  }
  .btn {
    color: $primary-fff;
    font-weight: 500;
  }
  .view-more {
    color: $header-bgc;
    cursor: pointer;
  }

  .website-price {
    padding: 0 20px;
    //margin-top: 45px;

    .btn {
      width: 100%;
    }
    h3{
      @include h3-20;
    }

    table {
      margin-top: 30px;
    }
  }

  .additional-products-photo, .additional-info {
    margin-top: 24px;
    padding: 24px;
    @include section-background;
  }
  .additional-products-photo{
    ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .additional-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
    h3 {
      font-size: 20px;
      color: #4D4D4D;
    }
    i{
      color: $gray-4;
    }
  }

  .additional-products-photo li {
    margin-bottom: 24px;
  }
}