@import "variables";

.breadcrumb{
  margin-top: 21px;

  padding-left: 0;
  margin-bottom: 16px;
  background-color: inherit;
  a{
    color: $primary-blu;
  }
  a, .active{
    //font-size: 18px;
  }
  .active{
    color: $dark-2;
  }
}
.breadcrumb > li + li:before {
  color: #ccc;
  content: "> ";
  padding: 0 5px;
}