@import "variables";
.customer-reviews-section {
  margin-top: 35px;
  padding: 0 24px;
  .customer-reviews-item {
    margin-bottom: 20px;
  }
  .customer-info {
    color: $dark-2;
    i {
      color: $primary-blu;
    }
    p {
      margin-top: 8px;
    }
  }
  .reviews-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      color: $gray-2;
    }
    .clear-filters {
      color: $primary-blu;
    }
  }
  .review-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 10px 0;
  }
  .review-product-type {
    margin: 12px 0 12px 0;
    span {
      color: $gray-2;
    }
  }
  .review-body {
    margin-left: 15px;
    border: 1px solid $gray-1;
    padding: 15px;
    border-radius: 4px;
    position: relative;
    &:after,
    &:before {
    content: "\f0d9";
    font-family: fontAwesome;
    width: 60px;
    height: 60px;
    font-size: 32px;
    color: #D4D4D4;
    position: absolute;
    top: 13%;
    left: -10px; /* Projects the arrow tot he direction that we want */
    }
    &:after {
      left: -9px; /* Helps create the border of the arrow */
      color: $primary-fff; /* Same Background as the parent */
    }
    p {
      color: $gray-2;
    }
    h4 {
      color: $dark-2;
    }
    .review-mark{
      color: $yellow;
      font-size: 18px;
    }
    .review-product-img{
      display: flex;
      justify-content: space-between;
      margin-top:10px;
    }
  }
  .like-review i {
    color: $primary-blu;
    margin-left: 5px;
  }
  .pagination {
    display: flex;
    justify-content: center;
    .pagination {
      a {
        background-color: $white-3;
        color: $dark-1;
        border-radius: 2px;
        border: 0;

        &:hover, &:active {
          background-color: $blu-1;
          color: $primary-fff;
        }
      }
      li {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}