@import "variables";
/**
* Header css rules
*/

.header {
  background-color: $header-bgc;
  .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;

  }
  .search-bar {
    display: flex;
    justify-content: space-between;
    .dropdown-toggle{
      display: flex;
      justify-content: space-between;
      height: 40px;
      font-size: 18px;
      margin-right: 5px;
      width: 144px;
      border: $border;
      box-shadow: $general-box-shadow;
    }
    .search {
      @extend .search-bar;
      position: relative;
      width: 496px;
      box-shadow: $general-box-shadow;
    }
    .search__icon{
      position: absolute;
      top: 8px;
      left: 15px;
    }
    .search__input{
      height: 40px;
      border-radius: 3px;
      text-indent: 30px;
      color: $gray-3;
      font-weight: 400;
    }
    .search__button{
      position: absolute;
      top: 4px;
      right: 5px;
      border-radius: 3px;
      color: $primary-fff;
      background-color: $primary-blu;
      font-size: 14px;
      width: 115px;
      height: 32px;
    }
    .product-page-search{
      @extend  .search__button;
      background-color: $buttons-fill-1;
      color: $dark-2;
      border: 1px solid $white-1;
    }
  }
  .logo {
    color: $primary-fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  .profile{
    display: flex;
    align-items: center;
    color: $dark-2;
    .profile-info{
      display: flex;
      .profile-info__greeting{
        margin-left: 20px;
        margin-right: 10px;
      }
    }
    .username{
      font-size: 18px;
    }
  }
  .register{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sign-up, .login{
    height: 40px;
    padding: 0px 32px;
    width: 100%;
    color: $primary-fff;
    border: 1px solid $primary-fff;
    background-color: inherit;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
  }
  .login{
    background-color: $primary-blu;
    border: 0;
    margin-left: 16px;
  }
}