@import "variables";
/*
* Navbar css rules
 */

.navigation{
  box-shadow: $general-box-shadow;
  background-color: $primary-fff;
}
.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .menu{
    .menu-link{
      padding: 16px 0;
      margin: 0 20px;
      cursor: pointer;
      &:first-child{
        margin-left: 0;
      }
    }
    a{
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      color: $dark-2;
      cursor: pointer;
      text-decoration: none !important;

    }
    .menu-link:hover, .menu-link:active{
      padding-bottom: 13px;
      border-bottom: 3px solid $primary-blu;
      a{
        color: $dark-2;
      }
    }
    .dropdown-menu{
      li{
        a:hover{
            color: $primary-fff;
            background-color: $primary-blu;
          }
      }
    }
  }
  .social-links{
    li{
      margin-left: 5px;
    }
  }
}