@import "variables";
.lSSlideOuter .lSPager.lSGallery{
  padding-top: 18px;
}
.product-info{
  color: $dark-2;
  box-shadow: $general-box-shadow;
  padding-bottom:25px;
  .product-title{
    h3{
      font-weight:500;
      margin-bottom: 15px;
    }
    p{
      margin-bottom: 5px;

    }
    .author-name{
      color: $primary-blu;
    }
    .btn{
      background-color: $white-3;
      color: $dark-1;
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }
  .product-rating{
    margin-top: 30px;
    margin-bottom: 20px;
    .fa-star{
      color: $yellow;
    }
  }
  .product-reviews-qty{
    color: $gray-2;
  }
  .product-controls{
    display: flex;
    align-items: center;
    .btn{
      background-color: $buttons-fill-1;
      border: 1px solid $white-1;
      color: $dark-2;
      padding-left: 23px;
      padding-right: 23px;
      font-weight: 600;
    }
    .add-to-wishlist{
      margin: 0 20px;
      padding-right: 40px;
      padding-left: 40px ;
    }
    a{
      color: $gray-4;
    }
    .fa-flag{
      margin-right: 10px;
    }
  }
}