@import "variables";
.lSSlideOuter .lSPager.lSGallery{
  padding-top: 18px;
}
.product-info{
  color: $dark-2;
  box-shadow: $general-box-shadow;
  padding-bottom:25px;
  .product-title{
    h3{
      font-weight:500;
      margin-bottom: 15px;
    }
    p{
      margin-bottom: 10px;

    }
    .author-name{
      color: $primary-blu;
    }
  }
  .product-rating{
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .product-reviews-qty{
    color: $gray-2;
  }
  .product-controls{
    display: flex;
    align-items: center;
    .btn{
      background-color: inherit;
      border: 1px solid $gray-1;
      color: $dark-2;
      padding: 13px 25px;
    }
    .add-to-wishlist{
      margin: 0 20px;
    }
    .fa-flag{
      color: $gray-4;
      margin-right: 10px;
    }
  }
}