/*
* Sign-up page css rules
 */
@import "variables";

.header-sign-up{
  .header-top{
    justify-content: center;
  }
}

.sign-up-step-1{
  margin-top: 46px;
  .steps-list{
    display: flex;
    justify-content: center;
    li {
      display: flex;
      align-items: center;
      color: $gray-5;
      &:active{
        color: $primary-blu;
        .step-count{
          background-color: $primary-blu;
        }
      }
      &:first-child{
        margin-right: 35px;
      }
    }
    .step-count{
      border-radius: 50%;
      background-color: $gray-5;
      padding: 10px 17px;
      color: $primary-fff;
      margin-right: 12px;
    }
  }
  .skin-info{
    padding: 24px 32px;
    background-color: $primary-fff;
    margin-top: 48px;
    .skin-types{
      display: flex;
      flex-direction: column;
      ul{
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
      }
      li{
        padding: 20px 45px;
        border-radius: 4px;
        border: 2px solid $gray-1;
        cursor: pointer;
        //margin-right: 35px;
        &:hover{
          border-color: $primary-blu;
        }
        /*&:last-child{
          margin-right: 0;
        }*/
      }
    }
    .skin-concers{
      margin-top: 30px;
    @extend .skin-types;
      ul{
        flex-wrap: wrap;
        justify-content: inherit;

      }
      li{
        padding: 15px 0px;
        width: 130px;
        margin-bottom: 16px;
        margin-right: 16px;

        &:hover{
          color: $primary-blu;
        }

      }
    }
  }
  .next-btn{
    display: flex;
    justify-content: flex-end;
  }
  .btn{
    background-color: $blu-1;
    color: $primary-fff;
    padding: 10px 35px;
  }
}