@import "variables";
/**
* General css
*/
body{
  font-family: 'Roboto', sans-serif;
  background-color: $general-background;
}

h2, h3, ul{
  margin: 0;
}

p{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a{
  font-family: 'Roboto', sans-serif;
  color: inherit;
}

a:hover{
  text-decoration: none;
  color: inherit;
}

.p-gray-2{
  color: $gray-2;
}
.dark-2{
  color: $dark-2;
}
.gray-3{
  color: $gray-3;
}
.block-title-2{
  font-size: 16px;
  color: $dark-2;
}
.list-inline{
  margin-left: 0;
}

.form-control{
  border: 0;
}

.list-inline > li {
  padding: 0;
}

.dropdown-menu{
  box-shadow: none;
  border: 0;
  border-radius:0;
  padding-top: 0;
  padding-bottom: 0;
  .divider{
    margin: 0;
  }
  li{
    a{
      padding: 10px 20px;
      &:hover{
        color: $primary-fff;
        background-color: $primary-blu;
      }
    }
  }
}

.progress{
  border-radius: 0;
  box-shadow: none;
  background-color: $white-1;
  margin-bottom:10px;
  width: 50%;
}
.progress-bar{
  background-color: $yellow;
  box-shadow: none;
}


.table>tbody>tr>td{
  border: 0;
  vertical-align: middle;
  &:first-child{
    padding-left:0;
  }
  &:last-child{
    padding-right: 0;
  }
}


.tooltip.bottom .tooltip-inner{
  background-color: $primary-blu;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: $primary-blu;
}

@import "header.scss";
@import "navbar.scss";
@import "category.scss";
@import "filter.scss";
@import "product-list.scss";
@import "footer";
@import "breadcrump";
@import "product-info";
@import "right-section";
@import "product-page-reviews";
@import "customer-reviews";
@import "bottom-section";
@import "qa-section";


/*
* Media styles
 */

@media screen and (max-width: 1199px) {
  .header{
    .search-bar{
      .search{
        width: 380px;
      }
    }
  }
  .product-navigation{
    li{
      padding: 20px 10px;
    }
  }
  .right-section{
    .similar-product{
      .similar-product-rating{
        flex-direction: column;
        align-items: center;
      }
    }
  }
  .product-info{
    .product-controls{
      .add-to-wishlist {
        margin: 0 5px;
      }
    }
  }
  .bottom-section{
    .additional-products-photo{
      ul{
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .nav-bar{
    .menu{
      a{
        font-size: 16px;
      }
      li{
        margin: 0 5px;
      }
    }
  }
  .header{
    .sign-up, .login{
      padding: 0 18px;
    }
    .logo{
      font-size: 20px;
    }
    .search-bar{
      .dropdown-toggle{
        width: 90px;
        font-size: 14px;
      }
      .search{
        width: 320px;
      }
      .search__button{
        width: 80px;
      }
    }
    .profile .profile-info .profile-info__greeting {
      margin-left: 10px;
    }
  }
  .products{
    .products-list{
      padding: 32px 10px;
      .products-list__category{
        margin-left: 5px;
        margin-right: 5px;
      }
      .products-list__price{
        margin: 0 10px;
      }
    }
  }
  .product-navigation{
    li{
      padding: 20px 8px;
    }
    a{
      font-size: 14px;
    }
  }
  .right-section{
    .social-share-btn{
      text-align: center;
      margin-bottom: 0;
      li{
        margin-bottom: 5px;
      }
    }
    .similar-product{
      .similar-product-rating{
        p{
          font-size: 12px;
          margin-left: 0;
        }
      }
      .similar-product-title{
        text-align: center;
      }
    }
  }
  .product-info{
    .product-controls{
      .btn{
        padding: 13px 5px;
      }
      .fa-flag{
        margin-right:2px;
      }
    }
  }
  .product-reviews-section{
    .recomendation{
      p{
        font-size: 12px;
      }
    }
  }
  .bottom-section{
    tbody{
      display: flex;
      //flex-wrap: wrap;
      flex-direction: column;
      tr{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        border-bottom: 1px solid $gray-1;
      }
    }
  }
}